[submodule "42C_L00-Libft"]
	path = 42C_L00-Libft
	url = https://github.com/efefish/42C_L00-Libft
[submodule "42C_L01-ft_printf"]
	path = 42C_L01-ft_printf
	url = https://github.com/efefish/42C_L01-ft_printf
[submodule "42C_L01-get_next_line"]
	path = 42C_L01-get_next_line
	url = https://github.com/efefish/42C_L01-get_next_line
[submodule "42C_L02-ft_server"]
	path = 42C_L02-ft_server
	url = https://github.com/efefish/42C_L02-ft_server
[submodule "42C_L04-miniRT"]
	path = 42C_L04-miniRT
	url = https://github.com/efefish/42C_L04-miniRT
